//loading bootstrap
@import 'bootstrap/scss/functions';
$primary:  #fda21a;
@import './variables';

@import 'bootstrap/scss/bootstrap'; 

$primary-bg: #fff8e1;

body{
    background-color: $primary-bg;
} 